@import url("./colors.css");

::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-handle); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-handle-hover);
}

/* Dark mode scrollbar */
/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-handle);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-handle-hover);
}