@import url("./font.css");
@import url("./colors.css");

body {
  margin: 0;
  font-family: 'NerdFont', monospace;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  user-select: none;
}

.fade-in {
  animation: fadeInUpShake .5s ease-out;
}

@keyframes fadeInUpShake {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95) translateX(-10px);
  }
  20% {
    opacity: 1;
    transform: translateY(10px) scale(0.98) translateX(10px);
  }
  40% {
    opacity: 1;
    transform: translateY(0) scale(1) translateX(-5px);
  }
  60% {
    opacity: 1;
    transform: translateY(0) scale(1) translateX(5px);
  }
  80% {
    opacity: 1;
    transform: translateY(0) scale(1) translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) translateX(0);
  }
}

.main-container {
  width: 75vw;
  margin: 0 auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* On small screens (less than 600px), increase width */
@media (max-width: 600px) {
  .main-container {
    width: 70%;
  }
}

/* On larger screens (more than 1200px), decrease width */
@media (min-width: 1200px) {
  .main-container {
    width: 60%;
  }
}

.main-content {
  text-align: left;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.loading-image-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.loading-image-content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.6;
}

/* Adjust for big screens */
@media (max-width: 768px) {
  .image-content {
    width: 80%;
  }
}

/* Adjust for very small screens (mobile) */
@media (max-width: 480px) {
  .image-content {
    width: 55%;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

/* Content aligned to the left within the container */
.element-container {
  width: 58%;
  margin: 0 auto;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.element-content {
  text-align: left;
  line-height: 1.6;
}

/* Profile image with left alignment */
.round-img {
  display: block;
  margin: 100px auto 25px auto;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  object-fit: cover;
}

/* On small screens, decrease size */
@media (max-width: 600px) {
  .round-img {
    width: 150px;
    height: 150px;
  }
}

/* On large screens, increase size */
@media (min-width: 1200px) {
  .round-img {
    width: 200px;
    height: 200px;
  }
}

.command-line {
  font-weight: bold;
  font-size: 25px;
}

.theme-toggler {
  border-radius: 50%;
  padding: 10px;
  
  /* height: 50px;
  width: 50px; */
  
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;

  top: 40px;
  right: 40px;

  background: var(--secondary-color);
  border: none;
  cursor: pointer;
  z-index: 1000; 
}

.theme-toggler:hover {
  background-color: var(--hover-color);
}

.theme-toggler svg{
  fill: var(--primary-color);
}

.theme-toggler svg:last-child {
  display: none;
}

.light .theme-toggler svg:first-child {
  display: none;
}

.light .theme-toggler svg:last-child {
  display: block;
}

.project-list p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 5px 0;
}

.bullet {
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.footer {
  margin: 50px 0 150px 0;
  text-align: center;
  font-size: 16px;
}

/* Highlighted text */
.highlight {
  font-weight: bold;
  color: var(--highlight-color);
}

/* Links styling */
.custom-link {
  font-weight: bold;
  color: var(--highlight-color) !important;
  text-decoration: none;
  white-space: no-wrap;
}

.project:hover {
  text-decoration: underline;
}
